<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="LinkedServices" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <customAppSettingsGroup>
    <LinkedServices>
      <add key="nike-uat75-sql1_Payment" value="SqlServerTable"/>
      <add key="nike-uat75-sql1_ESW" value="SqlServerTable"/>
      <add key="nike-uat75-sql1_esw_Reports" value="SqlServerTable"/>
      <add key="nike-uat75-sql1_eswArchive" value="SqlServerTable"/>
      <add key="AzureSqlDWLinkedService" value="AzureSqlDWTable"/>
      <add key="AzureSqlESWDW" value="AzureSqlDWTable"/>
      <add key="All" value="All"/>
    </LinkedServices>
  </customAppSettingsGroup>

  <appSettings>
    <add key="tablesCSVLocation" value="C:\Users\CurnanReidy\OneDrive - Spanish Point Technology\Customers\eShopWorld\tables.csv"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>